flows.json
[{"id":"dc67451.0beaeb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4407a31c.7fbd6c","type":"file","z":"dc67451.0beaeb8","name":"/testCSV.csv","filename":"testCSV","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":710,"y":120,"wires":[["1ef37ee2.82c6d1"]]},{"id":"fde5d368.4a5bd","type":"function","z":"dc67451.0beaeb8","name":"Data Capture","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["4364bbf5.c9c9d4"]]},{"id":"4364bbf5.c9c9d4","type":"json","z":"dc67451.0beaeb8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":120,"wires":[["4407a31c.7fbd6c"]]},{"id":"8ae72469.414018","type":"inject","z":"dc67451.0beaeb8","name":"","props":[{"p":"body","v":"{\"1stNumber\":\"12\",\"2ndNumber\":\"23\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":140,"wires":[["fde5d368.4a5bd"]]},{"id":"967344c0.4b0c38","type":"file in","z":"dc67451.0beaeb8","name":"/testCSV.csv","filename":"testCSV","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":320,"wires":[["6267cfbb.feb94","1fb01c3e.f80114"]]},{"id":"29a4446b.36b15c","type":"inject","z":"dc67451.0beaeb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["967344c0.4b0c38"]]},{"id":"6267cfbb.feb94","type":"debug","z":"dc67451.0beaeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":320,"wires":[]},{"id":"83402791.83d348","type":"http in","z":"dc67451.0beaeb8","name":"Save Data","url":"/saveData","method":"post","upload":true,"swaggerDoc":"","x":220,"y":100,"wires":[["fde5d368.4a5bd"]]},{"id":"60f32304.48840c","type":"http response","z":"dc67451.0beaeb8","name":"Data Updated","statusCode":"200","headers":{},"x":780,"y":380,"wires":[]},{"id":"ed0b7db.b8b458","type":"http in","z":"dc67451.0beaeb8","name":"Get Data","url":"/getData","method":"get","upload":false,"swaggerDoc":"","x":220,"y":340,"wires":[["967344c0.4b0c38"]]},{"id":"1ef37ee2.82c6d1","type":"function","z":"dc67451.0beaeb8","name":"Set Response Body","func":"msg.payload = \"Done\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["1e48ba1d.b8ada6"]]},{"id":"1e48ba1d.b8ada6","type":"http response","z":"dc67451.0beaeb8","name":"Data Updated","statusCode":"200","headers":{"content-type":"text/plain"},"x":700,"y":180,"wires":[]},{"id":"1fb01c3e.f80114","type":"function","z":"dc67451.0beaeb8","name":"Set Response Body","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["60f32304.48840c"]]},{"id":"494f7b23.ed9094","type":"comment","z":"dc67451.0beaeb8","name":"POST - /saveData","info":"This API stores a json format to the Runtime Env","x":110,"y":60,"wires":[]},{"id":"4fcd392c.561058","type":"comment","z":"dc67451.0beaeb8","name":"GET - /getData","info":"This API return the saved Json data","x":100,"y":260,"wires":[]}]
