flows.json
[{"id":"83df7923.8552b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bbc07207.c8445","type":"file","z":"83df7923.8552b8","name":"/testCSV.csv","filename":"testCSV","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":330,"y":200,"wires":[["9ef026c0.703958"]]},{"id":"432f7222.f9c42c","type":"function","z":"83df7923.8552b8","name":"Data Capture","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["78ddb900.ecacc8"]]},{"id":"78ddb900.ecacc8","type":"json","z":"83df7923.8552b8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["bbc07207.c8445"]]},{"id":"e0801d28.a0ba6","type":"inject","z":"83df7923.8552b8","name":"","props":[{"p":"body","v":"{\"1stNumber\":\"12\",\"2ndNumber\":\"23\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":120,"wires":[["432f7222.f9c42c"]]},{"id":"ce8cc20e.04fce","type":"file in","z":"83df7923.8552b8","name":"/testCSV.csv","filename":"testCSV","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":340,"wires":[["ba601157.134c","7939134d.63968c"]]},{"id":"df8a0de3.2e01d","type":"inject","z":"83df7923.8552b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["ce8cc20e.04fce"]]},{"id":"ba601157.134c","type":"debug","z":"83df7923.8552b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"fc1d85d8.8fd3c8","type":"http in","z":"83df7923.8552b8","name":"Save Data","url":"/saveData","method":"post","upload":true,"swaggerDoc":"","x":120,"y":40,"wires":[["432f7222.f9c42c"]]},{"id":"b787f01e.d2598","type":"http response","z":"83df7923.8552b8","name":"Data Updated","statusCode":"200","headers":{},"x":740,"y":340,"wires":[]},{"id":"5a09c873.a53628","type":"http in","z":"83df7923.8552b8","name":"Get Data","url":"/getData","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["ce8cc20e.04fce"]]},{"id":"9ef026c0.703958","type":"function","z":"83df7923.8552b8","name":"Set Response Body","func":"msg.payload = \"Done\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["37c5bcf9.ff4b74"]]},{"id":"37c5bcf9.ff4b74","type":"http response","z":"83df7923.8552b8","name":"Data Updated","statusCode":"200","headers":{"content-type":"text/plain"},"x":800,"y":200,"wires":[]},{"id":"7939134d.63968c","type":"function","z":"83df7923.8552b8","name":"Set Response Body","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["b787f01e.d2598"]]}]